@charset "UTF-8";
/* NOTE: General CSS */
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  #indexbody {
    background-color: #E0D6C6;
    background: linear-gradient(rgba(224, 214, 198, 0.85), rgba(224, 214, 198, 0.15)), url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  a {
    color: #DBCACA;
    text-decoration: none;
    transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -webkit-transition-duration: 0.23s;
    -o-transition-duration: 0.23s;
    transition-duration: 0.23s;
  }
  a:hover {
    color: #B99D82;
  }
  a:active {
    color: #09182E;
  }
  section {
    float: left;
  }

  main#canvas {
    width: 100%;
    height: auto;
    position: relative;
  }

/* NOTE: Size and dimensions of art piece. */
  section#art1 {
    width: 30vw;
    height: 30vw;
    background: url("https://www.how-to-design.org/web-design/work-files/matthew-deleget-2014-shuffle-for-le-corbusier.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
  section#art2 {
    width: 30vw;
    height: 30vw;
    background: url("https://www.how-to-design.org/web-design/work-files/gene-davis-1969-popsicle.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
  section#art3 {
    width: 30vw;
    height: 30vw;
    background: url("https://www.how-to-design.org/web-design/work-files/gene-davis-1969-popsicle.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
  /*
  ::||||||||||||||||||||||::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ::||||||||||||||||||||||::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ::||||||||||||||||||||||::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ::||||||||||||||||||||||::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  ::||||||||||||||||||||||:::::::::================::::::::::::===========::::::::::::::
  ::::||||||||||||||||||:::::::::::===============::::::::::::::==========::::::::::::::
  ::::||||||||||||||||||:::::::::::=============:::::::::::::::::=========::::::::::::::
  ::::||||||||||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::|||||||||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  ::::::||||||||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::|||||||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  ::::::::||||||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  ::::::::||||||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::|||||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  ::::::::::||||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::::|||||||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  ::::::::::::||||||||||:::::::::::=======================================::::::::::::::
  :::::::::::::|||||||||:::::::::::=======================================::::::::::::::
  ::::::::::::::||||||||:::::::::::=======================================::::::::::::::
  :::::::::::::::|||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  ::::::::::::::::||||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::::::::::|||||:::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::::::::::::||::::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::::::::::::||::::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::||||::::::||::::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::||||::::::||::::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::||||::::::||::::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::||||::::::||::::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::||||::::::||::::::::::::======:::::::::::::::::::::::::::======::::::::::::::
  :::::::::||||||||||||:::[[[]]]:::=============:::::::::::::::::=========:::[[[]]]:::::
  :::::::::||||||||||||:::[[[]]]:::===============::::::::::::::==========:::[[[]]]:::::
  :::::::::||||||||||||:::[[[]]]:::================::::::::::::===========:::[[[]]]:::::

      =============================
      ======Personal Website=======
      =============================
      [[[[[[[[[[[[[[[]]]]]]]]]]]]]]
      Designed by: Jonathan Hackner
      [[[[[[[[[[[[[[[]]]]]]]]]]]]]]
      {{{{{{{{{{{{{{{}}}}}}}}}}}}}}
      {{{{{{{{{{{{{{{}}}}}}}}}}}}}}
      ======For Web Design 2=======
      {{{{{{{{{{{{{{{}}}}}}}}}}}}}}
      {{{{{{{{{{{{{{{}}}}}}}}}}}}}}
      :::::::::::::::::::::::::::::
      This project is for::::::::::
      Professor Ian Besler:::::::::
      SMC Web Design 2 Class:::::::
      Personal Work Website::::::::
      Fall 2020 Semester:::::::::::
      :::::::::::::::::::::::::::::
      =============================
      ======Personal Website=======
      =============================
    */
